body {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register {
  background-color: white;
  display: flex;
  height: 20px;
  justify-content: space-evenly;
  align-items: baseline;
}

.line_1,
.line_2 {
  display: flex;
  /* margin: 10px; */
  padding-bottom: 7px;
  width: 400px;
  border-top: 3px solid gray;
}

.text_header {
  margin: 0 10px 10px 10px;
  font-size: 30px;
}

.text {
  text-align: center;
}

.wrapper {
  padding: 20px;
  background-color: white;

  height: 450px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.name {
  display: flex;
  justify-content: space-between;
  width: auto;
}

.first_name,
.last_name {
  width: 150px;
  height: 30px;
  padding: 5px;
}
._email,
._password,
._confirm {
  display: flex;
}
.input,
.email,
.password,
.confirm_pass {
  width: 100%;
  height: 30px;
  padding: 5px;
}

button {
  width: 100%;
  height: 40px;
  background-color: green;
  color: white;
  font-size: large;
}
.checked {
  width: auto;
}
a {
  color: green;
}
